@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
/* Used to override default browser settings*/
* {
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #f5f5f5;
}

header, header *{
    background-color: #333333;
}

html, body {
    background-color: antiquewhite;
}

a {
    font-size: 25px;
    color: #e4e5e9;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    margin-bottom: 75px;
}

nav button {
    background-color: #333333;
}

nav button:hover{
    background-color: #333333;
    color: rgb(165, 165, 165)
}

nav button:active {
    background-color: #333333;
}

.nav__bar {
    cursor: default;
}

.nav__bar li {
    display: inline-block;
    padding: 0px 20px;

}

.rounded {
    border-radius: 10px;
}

button {
    width:  45%;
    font-size: 20px;
    color: #fffdf0;
    padding: 5px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

button:active {
    background-color: rgba(22, 85, 143, 0.788);

}

button:disabled {
    background-color: rgba(0, 61, 77, 0.8);
    cursor:not-allowed;

}


#generator__container {
    background-color: #818185;

    width: 1600px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 50px grey;
}

#flex__generator__container {
    background-color: #818185;
    display: flex;
    width: 100%;   
}

canvas {
    width: 1200px;
    height: 900px;
    display: block;
}

#menu__frame {
    overflow: hidden;
    margin-left: 10px;
    width: 100%;
}

#menu {
    display:flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;

}

#menu * {
    flex: 1;
}

#menu__static {
    flex: 0 1 0%;
    padding: 10px;
}

select, input {
    border-radius: 5px;
    width: 100%;
}

.res__input {
    width: 38%;
}

optgroup {
    font-weight: bold;
}

#menu__alg {
    padding: 10px;
}

.hide {
    display: none;
}

#progress__bar__container {
    height: 10px;
    background-color: red;
}

#progress__bar__percentage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#progress__bar {
    background-color: green;
    height: 100%;
    width: 0%;
}

#buttons__bar {
    flex: 0 1 0%;
}

.rgb__input {
    width: 24%;
}

.center {
    text-align: center;
}

.button__padding {
    padding: 10px;
}

/* Style for gallery */

#flex__gallery__container {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

#gallery__canvas__container {
    padding: 15px;
    background-color: #818185;
    box-shadow: 20px 20px 50px grey;
    display: flex;

}

.alg__container {
    background-color: antiquewhite;
    display: block;
    
}

.description {
    
    margin-top: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    text-align: center;
}

.canvas__container {
    border: 10px solid transparent;
    border-image: url(gold-frame.png) 10 round;
    background-color: antiquewhite;
}

#gallery__container canvas {
    width: 600px;
    height: 450px;

}

h4, p {
    padding: 10px;
    background-color: antiquewhite;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

p {
    font-size: 22px;
    border-radius: 0 0 10px 10px;

}

.limit {
    width: 620px;
    word-wrap: break-word;
}