@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
/* Used to override default browser settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b9bbd4;
}
/* #24252a */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fffdf0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    margin-bottom: 75px;
}

.nav__bar {
    list-style:decimal;
}
.nav__bar li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__bar li a {
    transition: all 0.3s ease 0s;
}
.nav__bar li a:link {
    text-decoration: none;
}

.nav__bar li a:hover {
    color: rgb(253, 228, 228);
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}




.container {
    height: auto;
    width: 1200px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.flex__container {
    display: flex;   
}

#menu__wrap {
    flex: 1;
    margin-left: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    /* border: 10px black; */
}

#menu {
    display:flex;
    flex-direction: column;
    padding: 10px;
}






canvas {
    width: 852px;
    height: 480px;
    background: white;
    float: left;
    /* margin-top: auto;
    margin-left: auto;
    margin-right: auto; */
    display: block;
}

