@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
/* Used to override default browser settings*/
* {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e4e5e9;
}

a {
    font-size: 20px;
    color: #282d30;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    margin-bottom: 75px;
}

.nav__bar li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__bar a {
    transition: all 0.3s;
}
.nav__bar a:link {
    text-decoration: none;
}

.nav__bar a:hover {
    color: grey;
    text-decoration: underline grey;
}

button {
    display: inline-block;
    width: 40%;
    font-size: 14px;
    color: #fffdf0;
    padding: 5px 5px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

button:active {
    background-color: rgba(179, 8, 185, 0.788);

}



#container {
    background-color: #818185;
    border-radius: 10px;
    width: 1150px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 50px grey;
}

#flex__container {
    background-color: #818185;
    display: flex;
    width: 100%;   
}

canvas {
    border-radius: 10px;
    width: 800px;
    height: 600px;
    background: #e4e5e9;
    /* box-shadow: 1px 1px 20px red; */
    float: left;
    display: block;
}

#menu__frame {
    overflow: hidden;
    border-radius: 10px;
    margin-left: 10px;
    width: 100%;
}

#menu {
    display:flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;

}

#menu * {
    flex: 1;
}

#menu__static * {
    width: 100%;
}

#alg__select {
    border-radius: 5px;
}

#seed__input {
    border-radius: 5px;
}

#menu__alg {
    height: 100px;
}

#progress__bar__container {
    /* position: relative; */
    height: 10px;
    background-color: red;
    border-radius: 20px;
}

#progress__bar__percentage {
    /* position: absolute; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#progress__bar {
    /* position: absolute; */
    background-color: green;
    border-radius: 20px;
    height: 100%;
    width: 25%;
    transition: width 0.1s;
    /* animation: progress-animation 5s infinite; */
}

/* @keyframes progress-animation {
    0% { width: 0%; }
    100% { width: 100%; }
} */

#buttons__bar {
    flex: 0 1 0%;
    padding: 10px;
    text-align: center;
}


