@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
/* Used to override default browser settings*/
* {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color:  #f5f5f5; */
}

header, header *{
    background-color: #333333;
}

html, body {
    background-color: antiquewhite;
}

a {
    font-size: 25px;
    color: #e4e5e9;
}

h4 {
    font-size: 30px;
    /* border-top: 10px solid #818185; */
    padding: 10px;
}

p {
    font-size: 25px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    margin-bottom: 75px;
}

.nav__bar li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__bar a {
    transition: all 0.3s;
}
.nav__bar a:link {
    text-decoration: none;
}

.nav__bar a:hover {
    color: grey;
}



button {
    width:  80px;
    font-size: 50px;
    color: #fffdf0;
    padding: 10px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

button:active {
    background-color: rgba(22, 85, 143, 0.788);

}

button:disabled {
    background-color: rgba(0, 61, 77, 0.8);
    cursor:not-allowed;

}


#flex__container {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#canvas__container {
    padding: 15px;
    /* background-color: #818185; */
    box-shadow: 20px 20px 50px grey;
    display: flex;

}

#previous__button__container {
    padding-left: 30px;
    background-color: antiquewhite;
}

#next__button__container {
    padding-right: 30px;
    background-color: antiquewhite;

}

.description {
    margin-left: 50px;
    background-color: antiquewhite;
}
canvas {
    width: 1200px;
    height: 900px;
    display: block;
    background-color: #f5f5f5;
}



.hide {
    display: none;
}

.center {
    text-align: center;
}

.button__padding {
    padding: 10px;
}

.rounded {
    border-radius: 10px;
}